<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/assets/css/js-snackbar.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <title>Page Title</title>
</head>
<body>
    @RenderBody()
</body>
<script type="text/javascript" src="/assets/js/familytree.js"></script>
<script type="text/javascript" src="/assets/js/js-snackbar.min.js"></script>
<script type="text/javascript" src="/assets/js/script.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</html>
