<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/Assets/CSS/js-snackbar.min.css">
    <link rel="stylesheet" type="text/css" href="/Assets/CSS/style.css">
    @RenderSection("Styles", false)
    <title>Family Tree</title>
</head>
<body>
    @RenderBody()
</body>
<script type="text/javascript" src="/Assets/JS/familytree.js"></script>
<script type="text/javascript" src="/Assets/JS/js-snackbar.min.js"></script>
<script type="text/javascript" src="/Assets/JS/script.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</html>
