@{
    ViewData["Title"] = "Manage Family";
}

<div style="width: 100%; height: 700px" id="tree"></div>

@section scripts{
    <script>
        var data = JSON.parse('@ViewData["family-tree"]'.replaceAll("&quot;", '"').replaceAll('Person','https://'+window.location.host+'/Person'));
        var family = new FamilyTree(document.getElementById("tree"), {
            mouseScrool: FamilyTree.action.none,
            nodeBinding: {
                field_0: "name",
                img_0: "photo"
            },
            nodes: data,
            //nodes: [{ id: 1, pids: [2], Name: "Amber McKenzie", gender: "female" }]
            editForm: {
                addMore: null,
                generateElementsFromFields: false,
                photoBinding: "photo",
                elements: [
                    { type: 'textbox', label: 'Full Name', binding: 'name' },
                    {
                        type: 'select',
                        options: [{ value: 'male', text: 'Male' }, { value: 'female', text: 'Female' }],
                        label: 'Gender', binding: 'gender'
                    },
                    { type: 'textbox', label: 'Photo Url', binding: 'photo', btn: 'Upload' }
                ],
                buttons: { share: null, pdf: null }
            },
            enableSearch: false,
            //nodeMouseClick: FamilyTree.action.none,
            nodeTreeMenu: true,
        });

        family.editUI.on('element-btn-click', function (sender, args) {
            FamilyTree.fileUploadDialog(args, function (file) {
                var formData = new FormData();
                formData.append('file', file);
                alert('upload the file');
            })
        });
    </script>
}
